<!-- En este archivo se mostará el mapa -->
<div class="col-md-8 map" ng-controller="MapController">
    <!-- Mapa de ejemplo -->
    <!--
    <img src="/assets/img/google-maps.png" class="img-responsive">
    -->
    <h3>AnEpicMapa</h3>
    <div id='map'>
        <div map-lazy-load="https://maps.google.com/maps/api/js"
            map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy8tNtLQFnv_0nkZI1slEKun2BhT_ByU4">
            <ng-map center="-38.7, -72.6" zoom="3"></ng-map>
        </div>
    </div>

</div>
