<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Event Finder</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active : path == '/file'}">
          <a href="#/">Opción 1</a>
        </li>
        <li ng-class="{active : path == '/animal'}">
          <a href="#/" >Opción 2</a>
        </li>
        <li ng-class="{active : path == '/user'}">
          <a href="#/" >Opción 3</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            <span class="glyphicon glyphicon-user"></span>
               Antonio
               <!-- {{user.nombre + " " + user.apellido}} -->
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href><span class="glyphicon glyphicon-cog"></span> Configuración</a></li>
            <li><a href ng-click="logout()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
