.container {
    margin: initial;
    width: auto;
}
#map {
    height: 400px;
    width: 100%;
}

body{
    background-image: url('http://cdn.wall-pix.net/albums/landscapes-city/00004332.jpg');
}

#eventoBack{
    border-radius: 20px;
    background-color:rgba(149, 149, 149, 0.4);
}

#modalButtonDiv{
    text-align:center;
}

.eventList {
    max-height: 300px;
    overflow-y: scroll;
}

.list-group {
    padding-left: initial;
    padding-right: initial;
}
.active {
    text-align: center;
}

h3 {
    color: white;
    font-weight: bold;
}